{{>partials/header}}

<h2>Qual ano você nasceu?</h2>
<form method = "POST" action='/idade-resultado'>
    <input type="number" name="ano" placeholder="Digite o seu ano de nascimento"/><br/>
    <input type="submit" value="Enviar"/>
</form>

{{#mostrarIdade}}
A sua idade é {{idade}} anos.
{{/mostrarIdade}}

{{>partials/footer}}